@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');

html,
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', sans-serif !important;
}

.theme-reco-content {
    font-family: sans-serif;
}

.home-page-one-wrapper div.content__default p {
     font-family: sans-serif;
}

.nav-links .repo-link {
    display: none
}

a.sidebar-link {
    font-family: sans-serif;
}